<!DOCTYPE html>
<html lang="en">
<title>Admin | MVEC</title>
{{ template "head"}}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {{ template "admin_navbar"}}
        {{ template "side_nav"}}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">User Information</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form method="post">
                                    {{.CSRFField}}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Photo</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="photo"
                                                                name="Photo">
                                                            <label class="custom-file-label">Choose file</label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">Upload</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>NID Front</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="nidfront"
                                                                name="NIDFrontPhoto">
                                                            <label class="custom-file-label">Choose file</label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">Upload</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="exampleInputFile">NID Back</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="nidback"
                                                                name="NIDBackPhoto">
                                                            <label class="custom-file-label">Choose file</label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">Upload</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control" id="firstname"
                                                        placeholder="Enter First Name" name="FirstName"
                                                        value="{{.Form.FirstName}}">
                                                    {{with .FormErrors.FirstName}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" id="lastname"
                                                        value="{{.Form.LastName}}" placeholder="Enter Last Name"
                                                        name="LastName">
                                                    {{with .FormErrors.LastName}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>User name</label>
                                                            <input type="text" class="form-control" id="username"
                                                                value="{{.Form.UserName}}" placeholder="Enter Username"
                                                                name="UserName">
                                                            {{with .FormErrors.UserName}}
                                                            <p style="color: red;">{{.}}</p>
                                                            {{end}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Password</label>
                                                            <input type="password" class="form-control" id="password"
                                                                value="{{.Form.Password}}" placeholder="Enter Username"
                                                                name="Password">
                                                            {{with .FormErrors.Password}}
                                                            <p style="color: red;">{{.}}</p>
                                                            {{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control" id="email"
                                                        value="{{.Form.Email}}" placeholder="Enter email" name="Email">
                                                    {{with .FormErrors.Email}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Phone 1</label>
                                                    <input type="text" class="form-control" id="phone1"
                                                        value="{{.Form.Phone1}}" placeholder="Enter Phone"
                                                        name="Phone1">
                                                    {{with .FormErrors.Phone1}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Phone 2</label>
                                                    <input type="text" class="form-control" id="phone2"
                                                        value="{{.Form.Phone2}}" placeholder="Enter Phone"
                                                        name="Phone2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Date Of Birth</label>
                                                    <input type="date" class="form-control" id="dob"
                                                        value="{{.Form.DateOfBirth}}" placeholder="Enter Date of Birth"
                                                        name="DateOfBirth">
                                                    {{with .FormErrors.DateOfBirth}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Join Date</label>
                                                    <input type="date" class="form-control" id="joindate"
                                                        value="{{.Form.JoinDate}}" placeholder="Enter Join Date"
                                                        name="JoinDate">
                                                    {{with .FormErrors.JoinDate}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>NID Number</label>
                                                    <input type="number" class="form-control" id="nid"
                                                        value="{{.Form.NIDNumber}}" placeholder="Enter National ID"
                                                        name="NIDNumber">
                                                    {{with .FormErrors.NIDNumber}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    <select class="custom-select" name="Gender" id="genderid">
                                                        <option value="">-- Select Gender --</option>
                                                        <option {{ if eq $.Form.Gender 1 }} selected {{end}} value="1">
                                                            Male</option>
                                                        <option {{ if eq $.Form.Gender 2 }} selected {{end}} value="2">
                                                            Female</option>
                                                        <option {{ if eq $.Form.Gender 3 }} selected {{end}} value="3">
                                                            Other</option>
                                                    </select>
                                                    {{with .FormErrors.Gender}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>User Role</label>
                                                    <select class="custom-select" name="UserRole" id="userrole">
                                                        <option value="">-- Select User Role --</option>
                                                        {{range .UserRoleData}}
                                                        <option {{ if eq $.Form.UserRole .ID }} selected {{end}}
                                                            value={{.ID}}>{{.Name}}</option>
                                                        {{end}}
                                                    </select>
                                                    {{with .FormErrors.UserRole}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Facebook URL</label>
                                                    <input type="text" class="form-control" id="fbid" name="FBID"
                                                        value="{{.Form.FBID}}" placeholder="Enter Facebook URL">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>District</label>
                                                    <div class="form-group">
                                                        <select class="custom-select" name="DistrictID"
                                                            id="departmentid">
                                                            <option value="">-- Select District --</option>
                                                            {{range .DistrictData}}
                                                            <option {{ if eq $.Form.DistrictID .ID }} selected {{end}}
                                                                value={{.ID}}>{{.Name}}</option>
                                                            {{end}}
                                                        </select>
                                                        {{with .FormErrors.DistrictID}}
                                                        <p style="color: red;">{{.}}</p>
                                                        {{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Country</label>
                                                    <select class="custom-select" name="CountryID" id="countryid">
                                                        <option value="">-- Select Country --</option>
                                                        {{range .CountryData}}
                                                        <option {{ if eq $.Form.CountryID .ID }} selected {{end}}
                                                            value={{.ID}}>{{.Name}}</option>
                                                        {{end}}
                                                    </select>
                                                    {{with .FormErrors.CountryID}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Hub</label>
                                                    <select class="custom-select" name="HubID" id="hubid">
                                                        <option value="">-- Select Hub --</option>
                                                        {{range .HubData}}
                                                        <option {{ if eq $.Form.HubID .ID }} selected {{end}}
                                                            value={{.ID}}>{{.Name}}</option>
                                                        {{end}}
                                                    </select>
                                                    {{with .FormErrors.HubID}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Station</label>
                                                    <select class="custom-select" name="StationID" id="stationid">
                                                        <option value="">-- Select Station --</option>
                                                        {{range .StationData}}
                                                        <option {{ if eq $.Form.StationID .ID }} selected {{end}}
                                                            value={{.ID}}>{{.Name}}</option>
                                                        {{end}}
                                                    </select>
                                                    {{with .FormErrors.StationID}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Employee Role</label>
                                                    <select class="custom-select" name="EmployeeRole" id="role">
                                                        <option value="">-- Select Employee Role --</option>
                                                        {{range .UserRoleData}}
                                                        <option {{ if eq $.Form.UserRole .ID }} selected {{end}}
                                                            value={{.ID}}>{{.Name}}</option>
                                                        {{end}}
                                                    </select>
                                                    {{with .FormErrors.EmployeeRole}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Designation</label>
                                                    <select class="custom-select" name="DesignationID" id="countryid">
                                                        <option value="">-- Select Designation --</option>
                                                        {{range .DesignationData}}
                                                        <option {{ if eq $.Form.DesignationID .ID }} selected {{end}}
                                                            value={{.ID}}>{{.Name}}</option>
                                                        {{end}}
                                                    </select>
                                                    {{with .FormErrors.DesignationID}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Employee Grade</label>
                                                    <select class="custom-select" name="GradeID" id="grade">
                                                        <option value="">-- Select Employee Grade --</option>
                                                        {{range .GradeData}}
                                                        <option {{ if eq $.Form.GradeID .ID }} selected {{end}}
                                                            value={{.ID}}>{{.Name}}</option>
                                                        {{end}}
                                                    </select>
                                                    {{with .FormErrors.GradeID}}
                                                    <p style="color: red;">{{.}}</p>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>CV (PDF)</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="cvfile"
                                                                name="CVPDF">
                                                            <label class="custom-file-label"
                                                                for="exampleInputFile">Choose
                                                                file</label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">Upload</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Present Address</label>
                                                    <textarea class="form-control" rows="3" placeholder="Enter ..."
                                                        name="PresentAddress">{{.Form.PresentAddress}}</textarea>
                                                    <p style="color: red;" id="PresentAddress"></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Permanent Address</label>
                                                    <textarea class="form-control" rows="3" placeholder="Enter ..."
                                                        name="PermanentAddress">{{.Form.PermanentAddress}}</textarea>
                                                    <p style="color: red;" id="PermanentAddress"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="submit"
                                                    class="btn btn-danger btn-lg btn-block">Cancel</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit"
                                                    class="btn btn-primary btn-lg btn-block">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {{ template "footer"}}
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/static/js/admin-lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/static/js/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/static/js/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/static/js/admin-lte/plugins/jszip/jszip.min.js"></script>
    <script src="/static/js/admin-lte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/static/js/admin-lte/pleugins/pdfmake/vfs_fonts.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/static/js/admin-lte/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="/static/js/admin-lte/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/js/admin-lte/dist/js/adminlte.min.js"></script>
</body>

</html>