<!DOCTYPE html>
<html lang="en">
<title>Admin | MVEC</title>
{{ template "head"}}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {{ template "admin_navbar"}}
        {{ template "side_nav"}}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Accounts</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admin/index">Home</a></li>
                                <li class="breadcrumb-item active"><a href="/admin/accounts">Accounts</a></li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modal-add">Add
                                        Accounts
                                    </button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#modal-add-money">Add Money
                                        Accounts
                                    </button>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body ">
                                    <table id="example1" class="table table-bordered table-striped table-responsive-lg">
                                        <thead>
                                            <tr class="table-secondary">
                                                <th scope="col">Name</th>
                                                <th scope="col">Account Number</th>
                                                <th scope="col">Account Visualization</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{range .Data}}
                                            <tr>
                                                <td>{{.AccountName}}</td>
                                                <td>{{.AccountNumber}}</td>
                                                <td style="text-align: center;">
                                                    {{if eq .AccountVisualization "1" }}
                                                    <a type="button" class="btn btn-success btn-sm">Front
                                                        Visualization</a>
                                                    {{else}}
                                                    <a type="button" class="btn btn-danger btn-sm">Visualization
                                                        Restriction</a>
                                                    {{end}}
                                                </td>
                                                <td>{{.Amount}}</td>
                                                <td style="text-align: center;">
                                                    {{if eq .Status 1}}
                                                    <a type="button" class="btn btn-primary btn-sm" disabled>Pending</a>
                                                    {{else if eq .Status 2}}
                                                    <a type="button" class="btn btn-success btn-sm"
                                                        disabled>Accepted</a>
                                                    {{else }}
                                                    <a type="button" class="btn btn-danger btn-sm" disabled>Rejected</a>
                                                    {{end}}
                                                </td>
                                                <td>
                                                    <a href="/admin/accounts/{{.ID}}" type="button"
                                                        class="btn btn-success" data-toggle="modal"
                                                        data-target="#modal-update" id="{{.ID}}"
                                                        onclick="viewAccountsUpdateData(this.id)">
                                                        Update
                                                    </a>
                                                    <a type="button" class="btn  btn-warning" data-toggle="modal"
                                                        data-target="#modal-view" id="{{.ID}}"
                                                        onclick="viewAccounts(this.id)">
                                                        view
                                                    </a>
                                                    <a href="/admin/accounts/delete/{{.ID}}" type="button"
                                                        class="btn btn-danger" data-toggle="modal"
                                                        data-target="#modal-delete" id="{{.ID}}"
                                                        onclick="deleteAccountsData(this.id)">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                            {{end}}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Account Number</th>
                                                <th scope="col">Account Visualization</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
                <!--------------------------------------------------- Modal Add --------------------------------------------------->
                <div class="modal fade" id="modal-add">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#0069D9;">
                                <h4 class="modal-title" style="color: white;">Add Accounts</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" id="saveForm" class="tagForm">
                                    {{.CSRFField}}
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" name="AccountName" class="form-control" id="name"
                                                placeholder="Enter Accounts AccountName" />
                                            <p style="color: red;" id="AccountName"></p>
                                        </div>
                                        <div class="form-group">
                                            <label>Account Visualization</label>
                                            <div class="form-group">
                                                <select class="custom-select" name="AccountVisualization" id="status">
                                                    <option value="1">Front Visualization</option>
                                                    <option value="2">Visualization Restriction</option>
                                                </select>
                                                <p style="color: red;" id="Account Visualization"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Account Number</label>
                                            <input type="text" name="AccountNumber" class="form-control"
                                                id="accountNumber" placeholder="Enter Accounts AccountNumber" />
                                            <p style="color: red;" id="AccountNumber"></p>
                                        </div>
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" name="Amount" class="form-control" id="accountNumber"
                                                placeholder="Enter Accounts Amount" />
                                            <p style="color: red;" id="Amount"></p>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!--------------------------------------------------- Modal Add Money --------------------------------------------------->
                <div class="modal fade" id="modal-add-money">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#0069D9;">
                                <h4 class="modal-title" style="color: white;">Add Money</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" id="addMoneyForm" class="tagAddMoneyForm">
                                    {{.CSRFField}}
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Account Number</label>
                                            <select class="custom-select" name="AccountNumber" id="accountnumber">
                                                <option value="">--Select Account--</option>
                                                {{range .Data}}
                                                <option value="{{.ID}}">{{.AccountNumber}}-{{.AccountName}}</option>
                                                {{end}}
                                            </select>
                                            <p style="color: red;" id="AddAccountNumber"></p>
                                        </div>
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="number" name="Amount" class="form-control" id="amnt"
                                                placeholder="Enter Accounts Amount" />
                                            <p style="color: red;" id="AddAmount"></p>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!--------------------------------------------------- Modal Update --------------------------------------------------->
                <div class="modal fade" id="modal-update">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #20ac3e;">
                                <h4 class="modal-title" style="color: white;">Update Accounts</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" id="updateForm" class="tagUpForm">
                                    {{.CSRFField}}
                                    <input type="hidden" name="ID" id="UdID">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" name="AccountName" class="form-control"
                                                placeholder="Enter Account Name" required id="UdAccountName" />
                                            <p style="color: red;" id="AccountNameErr"></p>
                                        </div>
                                        <div class="form-group">
                                            <label>AccountVisualization</label>
                                            <div class="form-group">
                                                <select class="custom-select" name="AccountVisualization"
                                                    id="UdAccountVisualization">
                                                    <option value="1">Front Visualization</option>
                                                    <option value="2">Visualization Restriction</option>
                                                </select>
                                                <p style="color: red;" id="AccountVisualizationErr"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>AccountNumber</label>
                                            <input type="text" name="AccountNumber" class="form-control"
                                                placeholder="Enter Account Number" required id="UdAccountNumber" />
                                            <p style="color: red;" id="AAccountNumberErr"></p>
                                        </div>
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" name="Amount" class="form-control"
                                                placeholder="Enter Amount" required id="UdAmount" />
                                            <p style="color: red;" id="AmountErr"></p>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div> <!-- /.modal-content -->
                    </div> <!-- /.modal-dialog -->
                </div>
                <!--------------------------------------------------- Modal View --------------------------------------------------->
                <div class="modal fade" id="modal-view">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#ffa600;">
                                <h3 class="modal-title" style="color: white;">Accounts Details</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <tr>
                                        <td>Name</td>
                                        <td id="VAccountName"></td>
                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td id="VAccountNumber"></td>
                                    </tr>
                                    <tr>
                                        <td>Account Visualization</td>
                                        <td id="VAccountVisualization"></td>
                                    </tr>
                                    <tr>
                                        <td>Amount</td>
                                        <td id="VAmount"></td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td id="VStatus"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <!--------------------------------------------------- Modal Delete --------------------------------------------------->
                <div class="modal fade" id="modal-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #e42525;">
                                <h4 class="modal-title" style="color: white;">Are you sure you want to delete
                                    Accounts
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="deleteAccounts" action="get">
                                {{.CSRFField}}
                                <input type="hidden" name="ID" id="dID" />
                                <div class="modal-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <tr>
                                            <td>Name</td>
                                            <td id="dAccountName"></td>
                                        </tr>
                                        <tr>
                                            <td>Account Number</td>
                                            <td id="dAccountNumber"></td>
                                        </tr>
                                        <tr>
                                            <td>Account Visualization</td>
                                            <td id="dAccountVisualization"></td>
                                        </tr>
                                        <tr>
                                            <td>Amount</td>
                                            <td id="dAmount"></td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td id="dStatus"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div> <!-- /.modal-content -->
                    </div> <!-- /.modal-dialog -->
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {{ template "footer"}}
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/static/js/admin-lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/static/js/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/static/js/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/static/js/admin-lte/plugins/jszip/jszip.min.js"></script>
    <script src="/static/js/admin-lte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/static/js/admin-lte/pleugins/pdfmake/vfs_fonts.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/static/js/admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/static/js/admin-lte/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="/static/js/admin-lte/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/static/js/admin-lte/dist/js/adminlte.min.js"></script>
    <!-- Page specific script -->
    <script src="/static/js/custom-js/admin-panel-custom-js/accounts.js"></script>
    <script src="/static/js/custom-js/admin-panel-custom-js/common-functions.js"></script>
    <script>
        // create : Accounts
$(document).ready(function () {
    $('#addMoneyForm').submit(function (e) {
        e.preventDefault();
        $.ajaxSetup({
            headers: { 'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content') }
        });
        $.ajax({
            url: "/admin/accounts/addmoney",
            method: 'post',
            data: $('form.tagAddMoneyForm').serialize(),
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                if (obj.Status) {
                    $('#addMoneyForm').trigger("reset");
                    Toast.fire({
                        icon: 'success',
                        title: obj.Message
                    })
                    setTimeout(function () { window.location.reload(true); }, 1000);
                    $('#modal-add').modal('hide');
                } else {
                    $("#AddAccountNumber").empty().append(obj.FormErrors.AccountNumber);
                    $("#AddAmount").empty().append(obj.FormErrors.Amount);
                    Toast.fire({
                        icon: 'error',
                        title: "Please Insert All Data Carefully."
                    });
                }
            },
        });
        // reset all form data after close modal
        $('#modal-add').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
            $("#AddAccountNumber").empty();
            $("#AddAmount").empty();
        });
    });
});

        // Data Tables for this table
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>

</html>